//<MIXINS>========================================================
@import "mixins.scss";
//<FONTS>========================================================
@import "fonts.scss";
//<VARIABLES>==========================================================================================================
//<ADD FONTTS>==================================================================================================================
//&subset=cyrilic-ext
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700&subset=cyrilic-ext");
//<FONT DEFAULT>==================================================================================================================
$fontfamily: "PTSans";

//CONTAINER
._container {
  margin: 0 auto;
  width: 950px;
}